h1{
  font-weight: 700;
  margin-bottom: 2%;
  margin-top: 7%;
}
input{
  width: 100%;
  font-weight: bold;

}
.text{
  text-align: left;
  font-weight: bold;
}
.rgrow{
  margin: 7px 3px;
}
.rbutton{
  min-width: 80px;

}